* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.color {
	background-color: blueviolet;
	border: 1px dotted black;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container .top {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .bottom {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container .bottom .left {
	width: 50%;
	height: 200px;
}

.container .bottom .right {
	width: 50%;
	height: 200px;
}

.container .bottom .right .top {
	width: 100%;
	height: 100px;
}

.container .bottom .right .bottom {
	width: 100%;
	height: 100px;
}

.container .bottom .right .bottom .left {
	width: 50%;
	height: 100px;
}

.container .bottom .right .bottom .right {
	width: 50%;
	height: 100px;
}
